body {
  margin: 0;
  padding: 0;
  font-family: 微软雅黑;
}
.box_all{
  width: 100%;
}
.width{
  width: 100%;
}
.color_orange{
  color: #FF9D00;
}
.color_white{
  color: white;
}
.color_grey{
  color: #999999;
}
.background{
  background-color: #FF9D00;
}
.height{
  height: 100%;
}
.float{
  float: left;
}
.right{
  float: right;
}
.radius{
  border-radius: 5px;
}
.font20{
  font-size: 20px;
}
.font18{
  font-size: 18px;
}
.font_weight{
  font-weight: bold;
}
.overflow{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
