.list{
    width: 1360px;
    margin: 0 auto;
}
.list_all{
    width: 80%;
    height: 1000px;
    margin: auto;
}
.list_find{
    width: 50%;
    height: 50px;
    margin-top: 20px;
    margin-left: 25%;
}
.list_input{
    width: 80%;
    outline: none;
    border: none;
    border-radius: 5px 0 0 5px;
    padding-left: 25px;
    background-color: #EFEFEF;
}
.list_submit{
    width: 20%;
    outline: none;
    border: none;
    border-radius: 0 5px 5px 0;
}
.list_submit:hover{
    cursor: pointer;
}
.list_one{
    margin-top: 30px;
    border: 1px solid #EFEFEF;
}
.list_one:hover{
    transform: scale(1.04);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s, transform 0.5s;
    cursor: pointer;
}
.list_title{
    width: 96%;
    height: 40px;
    margin-left: 2%;
    padding-top: 13px;
}
.list_content{
    width: 94%;
    margin-left: 3%;
}
.list_picture{
    margin-top: 5px;
    width: 96%;
    height: 80px;
    margin-left: 2%;
}
.list_picture img{
    height: 100%;
    margin-left: 1%;
    box-shadow: 0 0 10px #EFEFEF;
}
.list_time{
    width: 40%;
    height: 30px;
    margin-top: 3px;
    margin-left: 3%;
}