.register{
    width: 100%;
    margin: 0 auto;
    height: 945px;
    background-image: url("../images/15.jpg");
}
.register_info{
    width: 450px;
    margin-left: 65%;
    height: 55%;
    margin-top: 10%;
    background-color: RGBA(0, 0, 0, 0.5);
    float: left;
    border-radius: 5px;
}
.register_total{
    width: 70%;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 5px;
    margin-left: 15%;
    border: 1px solid #F9EBE2;
    background-color: #F9EBE2;
    color: #354857;
    outline:medium;
}
.register_phone{
    margin-top: 50px;
    padding-left: 2%;
}
.register_get{
    border: 1px solid #FF9D00;
    background-color: #FF9D00;
    color: #354857;
    margin-top: 30px;
    color: white;
}
.register_check{
    margin-top: 30px;
    padding-left: 2%;
}
.register_get:hover{
    border: 1px solid #dc8800;
    background-color: #dc8800;
    cursor: pointer;
}