.register{
    width: 100%;
    margin: 0 auto;
    height: 945px;
    background-image: url("../images/15.jpg");
}
.register_info{
    width: 450px;
    margin-left: 65%;
    height: 60%;
    margin-top: 10%;
    background-color: RGBA(0, 0, 0, 0.8);
    float: left;
    border-radius: 5px;
}
.register_title{
    width: 80%;
    margin-left: 10%;
    color: #FF9D00;
    border-bottom: 1px solid #999999;
    margin-top: 7%;
    height: 30px;
}
.register_total{
    width: 70%;
    height: 45px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 5px;
    margin-left: 15%;
    background-color: #EFEFEF;
    outline:medium;
}
.register_phone{
    margin-top: 30px;
    padding-left: 2%;
}
.register_get{
    background-color: #FF9D00;
    margin-top: 30px;
    color: white;
}
.register_check{
    margin-top: 30px;
    padding-left: 2%;
}